# Dependencies
node_modules/
.pnpm-store/

# Next.js build outputs
.next/
out/

# Node/TypeScript outputs
dist/
build/

# Environments & Secrets
.env
.env.local
.env*.local

# OS files
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup